<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emin's Blog Page</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container readPage">
        <h1>
            <%= blog.title %>
        </h1>
        <small>
            <%= blog.date %>
        </small>
        <p>
            <%= blog.content %>
        </p>
        <small>
            <%= blog.author %>
        </small>
    </div>
</body>
</html>